<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue search filter</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <div class="search-wrapper">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input class="form-control form-control-lg" type="text" v-model="search" placeholder="Search for function by name, author or data type"/>
      </div>
    </div>
    <div class="topButtons">
      <button @click="showStoreUrl()" class="btn btn-info"><i class="fas fa-shopping-cart"></i> Set Store URL</button>
      <button @click="showCart()" class="btn btn-info"><i class="fas fa-shopping-cart"></i> Show Cart</button>
    </div>
    <div id="my-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Function Details
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
          </div>
          <div class="modal-body">
            <a v-bind:href="func.repo_link" target="_blank">
              <img v-bind:src=func.image_url />
            </a>
            <p>Name: {{ func.name }}</p>
            <p>Description: {{ func.description }}</p>
            <p>Author: {{ func.author }}</p>
            <p>Compatible Data Types: {{ func.compatibility }}</p>
            <a v-bind:href="func.repo_link" target="_blank">
              <button type="button" class="btn btn-info">View Source</button>
            </a>
          </div>
          <div class="modal-footer">
            <div v-if="isInCart(func)">
              <button @click="removeFromCart(func)" type="button" class="btn btn-primary"><i class="fas fa-trash"></i> Remove from Selection</button>
            </div>
            <div v-else>
              <button @click="addToCart(func)" type="button" class="btn btn-primary"><i class="fas fa-cart-arrow-down"></i> Add to Selection</button>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="cart-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Functions in Cart
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">name</th>
                  <th scope="col">author</th>
                  <th scope="col"><i class="far fa-edit"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="func in cart">
                  <td>{{ func.name }}</td>
                  <td>{{ func.author }}</td>
                  <td @click="removeFromCart(func)" data-toggle="tooltip" data-placement="top" title="Remove from cart"><i class="fas fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <div v-if="cartNotEmpty()">
              <button type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i> Deploy to OpenWhisk</button>
              <button @click="downloadCart()" type="button" class="btn btn-primary"><i class="fas fa-download"></i> Download</button>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="store-url-modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Store URL
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </h5>
          </div>
          <div class="modal-body">
            <p>Current Store URL: {{ store_url }}</p>
            <input id="store-url-input" class="form-control" type="text" placeholder="https://raw.githubusercontent.com/TPei/yappl_transformation_functions/master/store.json">
          </div>
          <div class="modal-footer">
            <button @click="setStoreUrl()" type="button" class="btn btn-primary"><i class="fas fa-download"></i> Set Store URL</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card" @click="itemClicked(func)" v-for="func in filteredList">
        <img v-bind:src=func.image_url />
        <h2>{{ func.name }}</h2>
        <small>{{ func.description }}</small>
        <small>Compatible with: {{ func.compatibility }}</small>
        <small>by: {{ func.author }}</small>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/func.js"></script>
  <script src="js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>
